<!---->
<div class="main-content">
    <div class="container-fluid">
      
  <div class="card">
      <div class="card-header card-header-icon" >
        <div class="card-icon" style="background-color:rgba(17, 17, 227, 0.88)">
          <i class="material-icons">search</i>
        </div>

        <h2 class="text-center" style="background-color:whitesmoke; color: black; pading: 2px; width: 60%;">Rapport annuel des cotisations </h2>

       
    </div>
      <div class="card-body">
        <form #form="ngForm">
  
          <div class="row">

       
          <div class="col-md-3" style="margin-bottom: 2px;">
            <mat-form-field>
            <mat-select ([ngModel])="selectedYear" placeholder="Choisir une année">
              <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option> 
            </mat-select>
    
          </mat-form-field>
          </div>
     >
        <div class="card-footer" style="padding-left: 40%;">
          <button mat-raised-button type="submit" 
           (click)="getCumulAnnee()" class="btn btn-fill btn-success"><i
              class="material-icons">search</i>Rechercher</button>
        </div>
          
        </div>
        </form>
        <div class="card" >
          <p style="text-align:center; color:red;font-size: 30px;">Cotisations introuvale pour cette année</p>
      </div> 
        </div>
        
        </div>
        
        <!--liste creances-->
  <div class="col-md-12" *ngIf="detailsCotisations">
      <div class="card" >
        <div class="card-header card-header-icon">
          <div class="card-icon" style="background-color:rgba(17, 17, 227, 0.88)">
            <i class="material-icons">list</i>
    
          </div>
          <h2 class="text-center" 
          style="background-color:whitesmoke; color: black; pading: 0px; width: 100%;">liste Cotisations Globales
          </h2>
        </div>
        <div class="card-body">
          <div class="material-datatable">
          <table id="datatable" class="table table-bordered " 
           #TABLE cellspacing="0" width="100%" style="width:100%" >
    
            <thead style="font-weight:bold;">
    
              <th cope="col">Mois</th>
              <th cope="col">Montants Totals</th>
              <th cope="col">Action</th>
    
            </thead>
            <tbody>
              <tr *ngFor="let element of detailsCotisations; let i=index">
                <td>{{element.ipm_employe?.justificatif}}<b></b></td>
                <td>{{element.ipm_cotisation?.montant_totals}}<b></b></td>
              

                
                <td class="td_actions">
              
                  <i class="material-icons" class="btn btn-info" (click)="getDetailsCotisation(element)" data-toggle="modal"
                  data-target="#noticeModal"><span 
                      class="fa fa-plus fa-fw"></span> </i>
                </td>
                <!-- <td>
                  <button class="btn btn-info btn-block" 
                 data-toggle="modal" data-target="#noticeModal" (click)="editDetails(i)"><span class="fa fa-edit fa-lg"></span>
                  </button></td> -->
    
    
              </tr>
            </tbody>
            <!-- <tfoot style="font-weight:bold;">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <h4>TOTAL</h4>
                </td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td></td>
                <td></td>
                <td></td>
    
              </tr>
            </tfoot> -->
    
          </table>
        </div>
         
        </div>
    
      </div>
    </div>
    </div>
  </div>
  
    <!--fin liste-->

           <!--modal list service-->
           <div class="modal fade" id="noticeModal" style="margin-left: -10%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
           <div class="modal-dialog" >
               <div class="modal-content"style="width: 1000px;">
                   <div class="modal-header" style="background-color: whitesmoke;">
                       <h3 class="modal-title" id="noticeModal"
                        style="font-weight:bold; padding-bottom: 10px;">Details Cotisations
                       
                       </h3>
                       <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                           <i class="material-icons">close</i>
                       </button>
                   </div>
                   <div class="modal-body" style="width: 1000px;">

                       <div class="row">
                               <table class="table table-hover table-bordered col-md-12">
                                   <thead>
                                       <tr style="background-color:rgb(213, 213, 213);">
                                           <th style="font-weight: 500;">Matricule</th>
                                           <th  style="font-weight: 500;">Nom</th>
                                           <th  style="font-weight: 500;">Prénom</th>
                                           <th  style="font-weight: 500;">Montant Cotisation</th>
                                           <th  style="font-weight: 500;">Action</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr *ngFor="let listelement of listCotisations" style="font-weight: 400;">
                                        <td>{{listelement.ipm_employe?.matricule}}</td>
                                        <td>{{listelement.ipm_employe?.nom}}</td>
                                        <td>{{listelement.ipm_employe?.prenom}}</td>
                                           <td>{{listelement.montant}}</td>
                                           <td class="td_actions text-right">
                                               <button mat-raised-button type="button" class="btn btn-warning  btn-round btn-xs"
                                                   id="edit">
                                                   <i class="fa fa-home"></i></button>
                                           </td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                           <div class="modal-footer justify-content-center">
                            <button mat-raised-button class="btn btn-fill btn-success btn-round" 
                                  (click)="printSituationAnnuelle()">imprimer
                                 </button>
                            </div> 
                       
                   </div>
                   
               </div>
           </div>
       </div>

       <!--fin modal-->
    
    
  
  
  
