<!--liste facture-->
<style>
    tr{font-weight: bold;}
</style>
<div class="col-md-12">
    <div class="card">
        <div class="material-datatable">
            <div class="card-header card-header-icon" >
                <div class="card-icon" style="background-color:rgba(17, 17, 227, 0.88)">
                  <i class="material-icons">list</i>
                </div>
                <h2 class="text-center" style="background-color:whitesmoke; color: black; pading: 2px; width: 40%;">Liste des factures </h2>
            </div>
            <div class="card-body">

                <table id="datatable" class="table table-hover table-bordered" cellspacing="0"
                    width="100%" style="width:100%">
                    <!-- <div *ngFor="let item of pageOfItems">{{item.nom}}</div> -->
                    <thead style="background-color: whitesmoke; ">

                        <tr>
                            <!-- <th class="text-center"><b>Id</b> </th>-->
                            <th  style="font-weight:bold;" cope="col"> Numero facture</th>
                            <th style="font-weight:bold;" cope="col">Prestataire</th>
                            <th style="font-weight:bold;text-align: center;" cope="col" >Date</th>
                            <th style="font-weight:bold;text-align: center;" cope="col">Montant Facture</th>
                            <th style="font-weight:bold;text-align: center;" cope="col">Charge ipm</th>
                            <th style="font-weight:bold;text-align: center;" cope="col">Charge agent</th>
                            <!-- <th cope="col">Date</th> -->
                            <th style="font-weight:bold;text-align: center;" cope="col">Action</th>
                            <!-- <th style="font-weight:bold;" cope="col"></th>  -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor=" let fac of liste">
                            <td ><b>{{fac.numerofacture}}</b></td>
                        <td ><b>{{fac.ipm_prestataire.nom_prestataire}}</b></td>
                        <td class="text-center"><b>{{fac.dateFacture | date}}</b></td>

                      <td class="text-center"><b>{{fac.montantTotal | number:'.2'}}</b></td>
                    <td class="text-center"><b>{{fac.part_ipm | number:'.2'}}</b></td>
             <td class="text-center"><b>{{fac.part_patient | number:'.2'}}</b></td>

                            <td class="td_actions text-right">
                                <!-- <button mat-raised-button type="button" class="btn btn-outline-info"> -->
                                <button mat-raised-button (click)="getDetFactById(fac)" type="button" class="btn btn-round btn-xs" id="edit">
                                    <i class="material-icons" >help</i></button>
                                        
                            </td>
                            <!-- <td>
                        <div [ngSwitch]="fac.certifier" *ngIf="">
                            <div *ngSwitchCase="true">
                                
                              <mat-checkbox checked="true"></mat-checkbox>
                            </div>
                            
                            <div *ngSwitchDefault>
                                
                              <mat-checkbox (click)="getCertified(fac)"></mat-checkbox>
                            </div>
                        </div>
                      
                    </td> -->
                        </tr>
                    </tbody>

                </table>




                <!-- <thead class="text-primary">

            
         
          <tfoot class="text-primary">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><h4>TOTAL<p><div></div>{{montantTotals}}<p></h4></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
            </tr>
          </tfoot> -->


            </div>
        </div>
    </div>
</div>
<!-- modal modification -->

        
    
